## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*
TAGS

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
Gemfile.lock

## Bundler
.bundle

## PROJECT::SPECIFIC

## RVM
.rvmrc

